]

.product-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px; 
    margin-top: 20px;
    color: #c12020; 
  }
  
  .product-table th,
  .product-table td {
    border: 1px solid #ddd;
    padding: 10px; 
    text-align: left;
  }
  
  .product-table th {
    background-color: #f2f2f2;
  }
  
  .product-table td button {
    margin-right: 5px;
  }
  
  .product-form {
    display: flex;
    flex-direction: column;
    gap: 15px; 
  }
  
  .product-form-container {
    border: 2px solid #eb1313; 
    padding: 15px; 
    border-radius: 8px; 
    background-color: #b6eef6;
  }
  
  .product-form label {
    display: flex;
    flex-direction: column;
    color: black ;
    font-size: larger;
  }
  
  .product-form input {
    padding: 10px; 
    color: black; 
}
